swagger: '2.0'
info:
  x-swagger-file-version: '6.91'
  version: v6.91
  title: Vitality Core
  description: >

    This API provides access to core Vitality functionality

    ## Resources
     
    <table class="table table-striped table-bordered table-hover
    table-condensed">
     <thead>
      <tr>
        <th style="background-color: red;color:white">Resource</th>
        <th style="background-color: red;color:white">Description</th>
      </tr>
    </thead> <tbody> <tr> <td>Assessments</td> <td> <ul> <li>Submission of
    assessments <ul> <li>online: general/mentalwellbeing/nutrition/fitness'</li>
    <li>offline: screenings</li> </ul> </li> <li>Retrieval of assessment
    feedback</li> <li>Retrieval of assessment metadata, e.g effective period,
    type</li> </ul> </td> </tr> <tr> <td>Challenges</td> <td> <ul>
    <li>Management of challenges (Group and Community)</li> <li>Retrieval of
    challenge history</li> <li>Retireval of weekly challenges</li>
    <li>Assessment-triggered challenges</li> <li>Workout tracker</li> </ul>
    </td> </tr> <tr> <td>Devices</td> <td> <ul> <li>Retrieval of device
    activities</li> <li>Linking and delinking of devices for a member</li> </ul>
    </td> </tr> <tr> <td>Fitness Events</td> <td><ul><li>Participation on
    fitness events</li></ul></td> </tr> <tr> <td>Friends</td> <td> <ul>
    <li>Friend search</li> <li>Management of friend invitations (accept, reject,
    send)</li> <li>Management of friend groups</li> </ul> </td> </tr> <tr>
    <td>Memberships</td> <td> <ul> <li>Retrieval of membership details including
    demographics and financial details</li> <li>Retrieval of system-defined
    membership status thresholds</li> <li>Retireval of supported device list for
    a market</li> </ul> </td> </tr> <tr> <td>Notifications</td>
    <td><ul><li>Retrieval of member notifications</li></ul></td> </tr> <tr>
    <td>Partners</td> <td><ul><li>Retrieval of details on reward
    partners</li></ul></td> </tr> <tr> <td>Points</td> <td><ul><li>Retrieval of
    point information for a member including history and summary</li></ul></td>
    </tr> <tr> <td>Rewards</td> <td><ul><li>Reward Redemption</li></ul></td>
    </tr> </tbody> </table>
      
    ## Membership Identification
      * Operations which return member-specific data require the Vitality membership number to be specified in the "membership-no" input paramter 
      
      * Certain operations also support Vitliaty Active (VA) members and for those cases the VA membership number is epxected to be specified in the member-id input parameter

    ## More Information on Vitality 

    Please refer to this
    [link](https://www.aia.com/en/about-aia/aia-vitality.html) for more details
    about Vitality 
host: vitality.aia.com
basePath: /vitality/core/v1
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
parameters:
  X-AIA-Request-Id:
    in: header
    name: X-AIA-Request-Id
    description: A unique id generated for each request for tracking purposes
    required: true
    type: string
  X-Vitality-Legal-Entity-Id:
    in: header
    name: X-Vitality-Legal-Entity-Id
    description: Attribute used to identify local market
    required: true
    type: string
  AIA-Access-Token:
    in: header
    name: Authorization
    description: >-
      An access token issued by an AIA Authorization server. This will have the
      format Bearer + {space} + {accessToken}. Example: Bearer
      KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ==
    required: true
    type: string
  PaginationLimit:
    in: query
    name: page-limit
    description: >-
      This parameter indicates the maximum number of items to return. If this
      parameter is not specified, all records are returned starting from the
      position specified by the offset parameter
    required: false
    type: string
  PaginationOffset:
    in: query
    name: page-offset
    description: >-
      This parameter indicates the starting position of the query in relation to
      the complete set of unpaginated items. Offset = 0 means starting from
      first record in the set. If this parameter is not specified, the default
      value is 0
    required: false
    type: string
  MembershipNo:
    in: query
    name: membership-no
    description: Vitality membership number
    required: false
    type: string
responses:
  HTTPError400:
    description: Bad Request
    schema:
      $ref: '#/definitions/Exception'
  HTTPError401:
    description: Unauthorized
    schema:
      $ref: '#/definitions/Exception'
  HTTPError405:
    description: Method Not Allowed
    schema:
      $ref: '#/definitions/Exception'
  HTTPError406:
    description: Not Acceptable
    schema:
      $ref: '#/definitions/Exception'
  HTTPError500:
    description: >-
      Internal Server Error

      <table class="table table-striped table-bordered"> <thead> <tr>
      <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead>
      <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or
      being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td>
      <td>Service is up, but overloaded with requests</td> </tr> <tr>
      <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the
      request   couldn’t be serviced due to some failure within our stack</td>
      </tr> </tbody> </table>
    schema:
      $ref: '#/definitions/Exception'
paths:
  /assessments/configuration:
    get:
      tags:
        - Assessments
      summary: Retrieves assessment configuration details for a business entity.
      description: >-
        Provides a list of all available assessments for members within a
        business entity
      operationId: assessmentConfiguration
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AssessmentConfigResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /assessments/details:
    get:
      tags:
        - Assessments
      summary: Retrieves all member assessments.
      description: >-
        Provides all member assessments - online
        (general/mentalwellbeing/nutrition/fitness) and offline assessments
        (screenings) based on membership number
      operationId: memberAssessments
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberAssessmentResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /assessments/feedback:
    get:
      tags:
        - Assessments
      summary: Retrieves feedback for member assessments.
      description: 'Provides feedback for member assessments, based on membership number'
      operationId: generalAssessmentGet
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: assessment-type
          description: Vitality assessment type for specific selection
          required: false
          type: string
          enum:
            - general
            - mental
            - fitness
            - nutrition
            - screenings
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AssessmentFeedbackResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /assessments/fitness:
    post:
      tags:
        - Assessments
      summary: Sends online fitness assessment for processing.
      description: >-
        Enables online fitness assessment submission by member, based on
        membership number
      operationId: fitnessAssessmentPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: role
          description: Vitality role of the member
          required: false
          type: string
        - in: body
          name: body
          description: VHR general assessment object data.
          required: true
          schema:
            $ref: '#/definitions/FitnessAssessmentRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AssessmentFeedbackResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /assessments/general:
    post:
      tags:
        - Assessments
      summary: Sends online general assessment for processing.
      description: >-
        Enables online Vitality health review / general assessment submission by
        member, based on membership number
      operationId: generalAssessmentPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: role
          description: Vitality role of the member
          required: false
          type: string
        - in: body
          name: body
          description: VHR general assessment object data.
          required: true
          schema:
            $ref: '#/definitions/VHRGeneralAssessmentRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AssessmentFeedbackResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /assessments/mental:
    post:
      tags:
        - Assessments
      summary: Sends online mental assessment for processing.
      description: >-
        Enables online mental assessment submission by member, based on
        membership number
      operationId: mentalAssessmentPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: role
          description: Vitality role of the member
          required: false
          type: string
        - in: body
          name: body
          description: VHR general assessment object data.
          required: true
          schema:
            $ref: '#/definitions/MentalAssessmentRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AssessmentFeedbackResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /assessments/nutrition:
    post:
      tags:
        - Assessments
      summary: Sends online nutrition assessment for processing.
      description: >-
        Enables online nutrition assessment submission by member, based on
        membership number
      operationId: nutritionAssessmentPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: role
          description: Vitality role of the member
          required: false
          type: string
        - in: body
          name: body
          description: VHR general assessment object data.
          required: true
          schema:
            $ref: '#/definitions/NutritionAssessmentRequest'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AssessmentFeedbackResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /assessments/screenings:
    post:
      tags:
        - Assessments
      summary: Sends screening assessment for processing.
      description: >-
        Enables members to upload their screening assessment details for
        processing
      operationId: screenings
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: body
          name: body
          description: Screening assessment object data.
          required: true
          schema:
            $ref: '#/definitions/ScreeningAssessmentRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /assessments/declaration:
    post:
      tags:
        - Assessments
      summary: Sends declaration for processing.
      description: >-
        Enables members to send declaration for processing
      operationId: declaration
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: body
          name: body
          description: Declaration object data.
          required: true
          schema:
            $ref: '#/definitions/DeclarationRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/community:
    get:
      tags:
        - Challenges
      summary: Retrieves community challenges available for everyone.
      description: >-
        Provides a list of all commnunity challenge available for a business
        entity
      operationId: communityChallengesOpen
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommunityChallengesResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Challenges
      summary: Sends an accetance or a quit request to community challenge.
      description: >-
        Enables a member to challenge a friend within community, based on friend
        id
      operationId: communityChallengesAcceptPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: challenge-id
          description: Challenge id for a member challenge.
          required: true
          type: string
        - in: query
          name: action
          description: Action for the community challenge.
          required: true
          type: string
          enum:
            - Accept
            - Quit
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/community/progress:
    post:
      tags:
        - Challenges
      summary: Retrieves community challenges available for everyone.
      description: >-
        Provides a list of all commnunity challenge available for a business
        entity
      operationId: communityChallengesProgress
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: challenge-id
          description: Challenge id for a member challenge.
          required: true
          type: string
        - in: query
          name: action
          description: Action for the community challenge.
          required: true
          type: string
          enum:
            - Achieved
            - Unachieved
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/community/member:
    get:
      tags:
        - Challenges
      summary: Retrieves members community challenges.
      description: >-
        Provides community challenge details for a member i.e. challenges sent
        to the member by any of the friends (not part of weekly or group)
      operationId: communityChallenges
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommunityChallengesMemberResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/community/invite:
    get:
      tags:
        - Challenges
      summary: Retrieves invitations for community challenges.
      description: >-
        Provides a list of all invitations for a member based on membership
        number
      operationId: communityChallengesInvite
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CommunityChallengesInviteResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Challenges
      summary: Sends challenges to a friend.
      description: >-
        Enables a member to challenge a friend within community, based on friend
        id
      operationId: communityChallengesInvitePost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: body
          name: body
          description: Request data for community challenge invite.
          required: true
          schema:
            $ref: '#/definitions/CommunityChallengesInviteRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/challenges/community/invite/{invite-id}':
    delete:
      tags:
        - Challenges
      summary: Sends a rejection to a challenge.
      description: >-
        Enables a member to challenge a friend within community, based on friend
        id
      operationId: communityChallengesDecline
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: path
          name: invite-id
          description: Key to identify an invitation.
          required: true
          type: string
        - in: query
          name: challenge-id
          description: Challenge id for a member challenge.
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Challenges
      summary: Sends and acceptance to a challenge.
      description: >-
        Enables a member to challenge a friend within community, based on friend
        id
      operationId: communityChallengesAccept
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: path
          name: invite-id
          description: Key to identify an invitation.
          required: true
          type: string
        - in: query
          name: challenge-id
          description: Challenge id for a member challenge.
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/group:
    get:
      tags:
        - Challenges
      summary: Retrieves members group challenges.
      description: >-
        Provides group challenges, based on either member id or membership
        number
      operationId: memberGroupChallenges
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: Member id for non membership accounts
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberChallengeResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/history:
    get:
      tags:
        - Challenges
      summary: Retrieves member challenges history .
      description: >-
        Provides history for all member challenges, namely - risk, weekly, group
        and community,for given year(s) in past, based on either membership id
        or membership number
      operationId: ChallengesHistory
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: number-of-years
          description: Number of years in the past user wants to see the challenges detail
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberChallengeResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/risk:
    get:
      tags:
        - Challenges
      summary: Retrieves members health risk related challenges.
      description: >-
        Provides challenges triggered through assessments, based on membership
        number
      operationId: memberChallenges
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberChallengeResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Challenges
      summary: Sends an acceptance or a quit request to risk challenge.
      description: >-
        Enables a member to accept or quit a challenge, based on membership
        number
      operationId: riskChallengesAcceptPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: challenge-id
          description: Challenge id for a member risk challenge.
          required: true
          type: string
        - in: query
          name: action
          description: Action for the risk challenge.
          required: true
          type: string
          enum:
            - Accept
            - Quit
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/weekly:
    get:
      tags:
        - Challenges
      summary: Retrieves members weekly challenges.
      description: >-
        Provides weekly challenges, based on either member id or membership
        number
      operationId: memberWeeklyChallenges
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: Member id for non membership accounts
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberChallengeResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /challenges/workout-tracker:
    get:
      tags:
        - Challenges
      summary: Retrieves members workout details.
      description: 'Provides a list of workouts of the member, based on memebership number'
      operationId: workoutTracker
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: device-name
          description: Device name used by the user to record activity details.
          required: false
          type: string
        - in: query
          name: startDate
          description: Enable user to look up starting from this date.
          required: false
          type: string
        - in: query
          name: endDate
          description: Enable user to look up ending by this date.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WorkoutTrackerResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /devices:
    get:
      tags:
        - Devices
      summary: Retrieves devices list for a business entity.
      description: >-
        Provides list of physical activity tracking devices available for
        members in a business entity
      operationId: devicesList
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DevicesListResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/devices/{device-name}/activities':
    get:
      tags:
        - Devices
      summary: Retrieves physical activity details from device.
      description: Provides activity details for all devices based on a membership number
      operationId: deviceDetails
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: month
          description: ' Month in which user has performed the activity. Valid values: 1 - 12'
          required: true
          type: string
        - in: path
          name: device-name
          description: ' Device name used by the user to record activity details.'
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceDetailsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/devices/{device-name}/link':
    post:
      tags:
        - Devices
      summary: Sends a reqeust to link a device.
      description: >-
        Enables a member to link a device to their membership for tracking
        physical activities
      operationId: deviceLink
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: path
          name: device-name
          description: Device to be linked.
          required: true
          type: string
        - in: query
          name: email
          description: Registered email of account linking.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceLinkResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    delete:
      tags:
        - Devices
      summary: Sends a reqeust to delink a device.
      description: Enables a member to delink a device from their membership account
      operationId: deviceDelink
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: path
          name: device-name
          description: Device to be delinked.
          required: true
          type: string
        - in: query
          name: email
          description: Registered email of account delinking.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DeviceDelinkResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/devices/{device-name}/link/token':
    post:
      tags:
        - Devices
      summary: Sends a reqeust to link a garmin device by one-time token
      description: >-
        Enables a member to link a device to their membership for tracking
        physical activities
      operationId: deviceLinkToken
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: path
          name: device-name
          description: Device to be linked.
          required: true
          type: string
        - in: body
          name: body
          description: Garmin tokens and userId of a specific member.
          required: true
          schema:
            $ref: '#/definitions/LinkGarminTokenRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/devices/submit-health-data':
    post:
      tags:
        - Devices
      summary: Sends a reqeust to submit native health kit data by one-time token
      description: >-
        Enables a member to submit the tracking health data
      operationId: deviceSubmitHealthData
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: body
          name: body
          description: Device reading in json format.
          required: true
          schema:
            $ref: '#/definitions/SubmitHealthDataRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /fitness-events:
    post:
      tags:
        - Fitness Events
      summary: Sends organized fitness event participation for processing.
      description: >-
        Enables members to send their participation information on fitness
        events to Vitality system
      operationId: fitnessEventDetails
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: body
          name: body
          description: Activities object to post the the data.
          required: true
          schema:
            $ref: '#/definitions/ActivitiesRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /friends:
    get:
      tags:
        - Friends
      summary: Retrieve list of friends for a member.
      description: Provides list of all friends for a member based on membership number
      operationId: friendsList
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FriendsListResponse'
          headers:
            X-Total-Count:
              type: string
              description: Total number of records in the unpaginated set
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /friends/group:
    get:
      tags:
        - Friends
      summary: Retrieves members owned group.
      description: >-
        Provides a group owned by member, based on either  membership number or
        member id
      operationId: groupsList
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GroupListResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    put:
      tags:
        - Friends
      summary: Sends a request for editing a group.
      description: >-
        Enables a member to edit a group name and add or remove friend(s) from
        group
      operationId: editGroup
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: query
          name: group-name
          description: Group name for friends.
          required: true
          type: string
        - in: body
          name: body
          description: List of friends to be added or deleted.
          required: true
          schema:
            $ref: '#/definitions/GroupEditRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    delete:
      tags:
        - Friends
      summary: Sends a request to delete a group.
      description: Enables member to delete their group.
      operationId: deleteGroup
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
        - in: path
          name: group-id
          description: Group id of the friends
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Friends
      summary: Sends a request for group creation.
      description: Enables a member to create a group
      operationId: createGroup
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
        - in: query
          name: group-name
          description: Group name for  friends.
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /friends/group/pending-list:
    get:
      tags:
        - Friends
      summary: Retrieves a list of pending group request from friends.
      description: >-
        Provides a list of members pending group requests sent by friends
      operationId: pendingGroupGet
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PendingGroupResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /friends/pending-list:
    get:
      tags:
        - Friends
      summary: Retrieves a list of pending friends.
      description: >-
        Provides a list of members pending friend requests send to friends and
        sent by friends
      operationId: pendingFriendsGet
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PendingFriendsResponse'
          headers:
            X-Total-Count:
              type: string
              description: Total number of records in the unpaginated set
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Friends
      summary: Sends an acceptance or rejection to a friend request.
      description: Enables a member to accept or reject a friend request
      operationId: pendingFriendsPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
        - in: query
          name: friend-id
          description: User id of the friend member.
          required: true
          type: string
        - in: query
          name: action
          description: User id of the friend member.
          required: true
          type: string
          enum:
            - accept
            - reject
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /friends/search:
    get:
      tags:
        - Friends
      summary: Retrieves members based on wildcard search.
      description: >-
        Provides members details based on partial e-mail id or name ; typically
        used for searching members to befriend
      operationId: friendFinder
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: query
          name: search-key
          description: >-
            Key used to search a friend either by email or name. Wildcard is
            supported
          required: true
          type: string
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
        - $ref: '#/parameters/MembershipNo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FriendFinderResponse'
          headers:
            X-Total-Count:
              type: string
              description: Total number of records in the unpaginated set
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/friends/{friend-id}':
    get:
      tags:
        - Friends
      summary: Retrieves details of a friend.
      description: >-
        Provides details of a members friend based on membership number or
        member id of the member and friends user id
      operationId: friendDetails
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
        - in: path
          name: friend-id
          description: User id of the friend member.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FriendDetailsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Friends
      summary: Sends a friend request for member within a business entity.
      description: >-
        Enables a member to send a friend request to another vitality member
        within a business entity, based on membership number or member id of the
        member and friends user id
      operationId: addFriend
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
        - in: path
          name: friend-id
          description: User id of the friend.
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    delete:
      tags:
        - Friends
      summary: Sends an unfriend request.
      description: >-
        Enables a member to remove a friend from their friends list, based on
        membership number or member id of the member and friends user id
      operationId: deleteFriend
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
        - in: path
          name: friend-id
          description: User id of the friend member.
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/friends/{friend-id}/interact':
    post:
      tags:
        - Friends
      summary: Sends an interaction request to a friend.
      description: >-
        Enables a member to send an interact request namely - poke, clap and
        like
      operationId: friendsInteraction
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: member-id
          description: member id for vitality active only members.
          required: false
          type: string
        - in: path
          name: friend-id
          description: Friend identifier.
          required: true
          type: string
        - in: query
          name: action
          description: Types of action to interact with friend
          enum:
            - poke
            - clap
            - like
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/memberships/financials/bank-list':
    get:
      tags:
        - Memberships
      summary: Retrieve bank list within a business entity,
      description: >-
        Provides list of bank available for members in a business entity
        number.
      operationId: memberFinancialsBankList
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: bank-id
          description: Id of bank member is looking up.
          required: false
          type: string
        - in: query
          name: overseas
          description: Boolean (Y/N) whether it is a overseas bank.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberBankListResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /memberships/status-thresholds:
    get:
      tags:
        - Memberships
      summary: Retrieve threshold definitions for Vitality status.
      description: Provides threshold limits defined for Vitality membership status
      operationId: statusThresholds
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/VitalityThresholdResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/memberships/{membership-no}':
    get:
      tags:
        - Memberships
      summary: Retrieve membership details.
      description: Provides Vitality membership details based membership number
      operationId: membershipDetails
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Vitality membership number or member id (vitality active cases)
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MembershipDetailsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/memberships/{membership-no}/demographics':
    get:
      tags:
        - Memberships
      summary: Retrieve members contact details.
      description: >-
        Provides members demographic details based on membership number and
        document id
      operationId: memberDemographics
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Vitality membership number  or member id (vitality active cases)
          required: true
          type: string
        - in: query
          name: doc-id
          description: Unique identifier of the document e.g. passport number etc.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MembersDemographicsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Memberships
      summary: Sends a update contact details request.
      description: >-
        Enable member to update demographic details based on membership number and
        document id
      operationId: memberDemographicsUpdate
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Vitality membership number  or member id (vitality active cases)
          required: true
          type: string
        - in: query
          name: doc-id
          description: Unique identifier of the document e.g. passport number etc.
          required: false
          type: string
        - in: body
          name: body
          description: Updated contact details of the user
          required: true
          schema:
            $ref: '#/definitions/MemberDemographicsUpdateRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/memberships/{membership-no}/devices':
    get:
      tags:
        - Memberships
      summary: Retrieves devices list for a membership.
      description: >-
        Provides list of physical activity tracking devices linked for a specific member
      operationId: memberDevicesList
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Membership number of the user  or member id (vitality active cases).
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DevicesListResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/memberships/{membership-no}/financials':
    get:
      tags:
        - Memberships
      summary: Retrieve members financial details.
      description: >-
        Provides list of financial details of the user based on membership
        number.
      operationId: memberFinancials
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Membership number of the user  or member id (vitality active cases).
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberFinancialsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Memberships
      summary: Sends a update financial details request.
      description: >-
        Enable member to update financial details based on membership number.
      operationId: memberFinancialsUpdate
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Membership number of the user  or member id (vitality active cases).
          required: true
          type: string
        - in: body
          name: body
          description: Updated financial details of the user
          required: true
          schema:
            $ref: '#/definitions/MemberFinancialsUpdateRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'

  '/memberships/{membership-no}/profile-image':
    get:
      tags:
        - Memberships
      summary: Retrieve profile image for a membership
      description: Provides profile image of Vitality member based on membership number
      operationId: memberProfileImage
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Vitality membership number or member id (vitality active cases)
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberProfileImageResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Memberships
      summary: Sends a request to update membership profile image
      description: Enable a member to update profile image
      operationId: memberProfileImageUpdate
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Vitality membership number or member id (vitality active cases)
          required: true
          type: string
        - in: query
          name: profile-image
          description: Profile JPEG image with base-64 encoding
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/memberships/{membership-no}/opt-out-search':
    get:
      tags:
        - Memberships
      summary: Retrieve opt out search option for a membership
      description: Provides opt out search option of Vitality member based on membership number
      operationId: memberOptOutSearch
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Vitality membership number or member id (vitality active cases)
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberOptOutSeacrhResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Memberships
      summary: Sends a request to update membership opt out search option
      description: Enable a member to update opt out search option based on membership number
      operationId: memberOptOutSearchUpdate
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: membership-no
          description: Vitality membership number or member id (vitality active cases)
          required: true
          type: string
        - in: query
          name: opt-out-search
          description: Is opt out search option of the member
          required: true
          type: string
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /notifications:
    get:
      tags:
        - Notifications
      summary: Retrieves notification for a member .
      description: >-
        Provides a list of notifications received by the member based on
        membership number
      operationId: notificationMangement
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - $ref: '#/parameters/PaginationLimit'
        - $ref: '#/parameters/PaginationOffset'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/NotificationManagementResponse'
          headers:
            X-Total-Count:
              type: string
              description: Total number of records in the unpaginated set
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Notifications
      summary: Sends a device registration request for receiving push notification for a membership.
      description: >-
        Enables member to receive push notifications from Vitality
      operationId: notificationMangementPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: body
          name: body
          description: Device details of the user
          required: true
          schema:
            $ref: '#/definitions/NotificationManagementPostRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /partners:
    get:
      tags:
        - Partners
      summary: Retrieves all rewards and benefits partners for a business entity.
      description: >-
        Provides the listof all rewards and benefits partners available for all
        membership statuses
      operationId: partnerList
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartnerListResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/partners/{partner-id}':
    get:
      tags:
        - Partners
      summary: Retrieves details of rewards and benefits partner based on partner id.
      description: Provides partner and benefit details offered by the partner
      operationId: partnerDetails
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: partner-id
          description: Unique identifier of the partner.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartnerDetailsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/partners/{partner-id}/branch-details':
    get:
      tags:
        - Partners
      summary: Retrieves details of rewards and benefits partner based on partner id.
      description: Provides partner and benefit details offered by the partner
      operationId: partnerBranchDetails
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: partner-id
          description: Unique identifier of the partner.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartnerBranchDetailsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/partners/{partner-id}/eligibility':
    get:
      tags:
        - Partners
      summary: Retrieve partner benefits eligibility for a membership
      description: Enables member to check eligibility on benefits redemption based on membership number
      operationId: partnerEligibility
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: partner-id
          description: Unique identifier of the partner.
          required: true
          type: string
        - in: query
          name: membership-no
          description: Vitality membership number or member id (vitality active cases)
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartnerEligibilityResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/partners/{partner-id}/eligibility/token':
    get:
      tags:
        - Partners
      summary: Retrieve partner benefits assess token for a membership
      description: Enables member to retrieve eligibility token for benefits SSO redemption based on membership number
      operationId: partnerEligibilityToken
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: partner-id
          description: Unique identifier of the partner.
          required: true
          type: string
        - in: query
          name: membership-no
          description: Vitality membership number or member id (vitality active cases)
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PartnerEligibilityTokenResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /points:
    get:
      tags:
        - Points
      summary: Retrieves members points details.
      description: >-
        Provides total points earned by member for vitality activities of
        current year, based on membership number
      operationId: pointsList
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PointsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /points/configuration:
    get:
      tags:
        - Points
      summary: Retrieves points configuration details for a business entity.
      description: >-
        Provides the points setup in relation to a Vitality activity, for a
        business entity.
      operationId: pointsConfiguration
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PointsConfigResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /points/history:
    get:
      tags:
        - Points
      summary: Retrieves members points history.
      description: >-
        Provides points history of a member for given year(s) in past, based on
        membership number
      operationId: pointsHistory
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: number-of-years
          description: Number of years in the past user wants to see the points detail
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PointsHistoryResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /points/history/lookup:
    get:
      tags:
        - Points
      summary: Retrieves members points history based on points event type
      description: >-
        Look up points history of a member for given year(s) in past, based on
        membership number and point history type
      operationId: pointsHistoryLookUp
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: number-of-years
          description: Number of years in the past user wants to see the points detail
          required: false
          type: string
        - in: query
          name: activity-id
          description: Unique identifier of the events.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PointsHistoryLookUpResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'        
  /points/summary:
    get:
      tags:
        - Points
      summary: Retrieves members points summary.
      description: >-
        Provides points summary of member for current year, based on membership
        number
      operationId: pointsSummary
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PointsSummaryResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /rewards:
    get:
      tags:
        - Rewards
      summary: Retrieves rewards allocated to a member.
      description: >-
        Enables members to retrieve details of all rewards allocated to them
        after completing Vitality activities
      operationId: memberRewards
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/MemberRewardsResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  /rewards/configuration:
    get:
      tags:
        - Rewards
      summary: Retrieves rewards configuration details for a business entity.
      description: >-
        Provides reward configuration for a particular based on membership
        status
      operationId: rewardConfiguration
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: query
          name: status
          description: ' Vitality status of the member.'
          required: false
          type: string
          enum:
            - Bronze
            - Silver
            - Gold
            - Platinum
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RewardConfigurationResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/rewards/{reward-id}/coupons':
    get:
      tags:
        - Rewards
      summary: Retrieves coupon based rewards.
      description: Provides list of coupon codes issues to a member
      operationId: rewardsRedemptionGet
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: path
          name: reward-id
          description: Unique identifier of the reward.
          required: true
          type: string
        - in: query
          name: donate-option
          description: 'This attribute specifies whether the reward can be donated or not. '
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RewardsRedemptionResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
    post:
      tags:
        - Rewards
      summary: Sends a coupon request for a redeemed reward.
      description: Enables a member to obtain a coupon codes after a reward is redeemed
      operationId: rewardsRedemptionPost
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: reward-id
          description: Unique identifier of the reward.
          required: true
          type: string
        - in: body
          name: body
          description: Rewards redemption object to post the the data.
          required: true
          schema:
            $ref: '#/definitions/RewardsCouponRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/rewards/{reward-id}/coupons/{coupon-id}/tag':
    post:
      tags:
        - Rewards
      summary: Sends tag to a reward to mark as used.
      description: Enables members to tag a coupon based reward to used and not used status
      operationId: tagCoupon
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: path
          name: reward-id
          description: Identifier for reward offered by a partner.
          required: true
          type: string
        - in: path
          name: coupon-id
          description: Identifier of a coupon for a reward.
          required: true
          type: string
        - in: query
          name: tagged-status
          description: Coupon used status.
          required: true
          type: boolean
          enum:
            - used
            - unused
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/rewards/{reward-id}/statement':
    get:
      tags:
        - Rewards
      summary: Retrieve benefit statement for a memberhsip entity.
      description: Provide lsit of benefit statement of a member 
      operationId: rewardStatement
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - $ref: '#/parameters/MembershipNo'
        - in: path
          name: reward-id
          description: Identifier for reward offered by a partner.
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RewardsStatementResponse'
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
  '/rewards/{reward-id}/redeem':
    post:
      tags:
        - Rewards
      summary: Sends rewards redemption request to select a partner.
      description: >-
        Enables members to select a rewards partner for a specific reward based
        on member id or membership number
      operationId: submitRewardsRedemption
      parameters:
        - $ref: '#/parameters/AIA-Access-Token'
        - $ref: '#/parameters/X-AIA-Request-Id'
        - $ref: '#/parameters/X-Vitality-Legal-Entity-Id'
        - in: path
          name: reward-id
          description: Unique identifier of the partner.
          required: true
          type: string
        - in: body
          name: body
          description: Rewards redemption object to post the the data.
          required: true
          schema:
            $ref: '#/definitions/RewardsRedemptionRequest'
      responses:
        '200':
          description: OK
        '400':
          $ref: '#/responses/HTTPError400'
        '401':
          $ref: '#/responses/HTTPError401'
        '405':
          $ref: '#/responses/HTTPError405'
        '406':
          $ref: '#/responses/HTTPError406'
        '500':
          $ref: '#/responses/HTTPError500'
definitions:
  ActivitiesRequest:
    type: object
    properties:
      eventId:
        type: string
        description: Unique identifier for event.
      eventName:
        type: string
        description: Specifies event name for which user has joined.
      eventType:
        type: string
        description: Types of events user can participate.
      eventDate:
        type: string
        format: YYYY-MM-DD
        description: Date on which event is planned to happen.
      distance:
        type: string
        description: Range of distance user has to register for the event.
      finishTime:
        type: string
        description: Time at which user has finished the event.
      raceBibNo:
        type: string
        description: Unique identifier no to identify race participant.
    required:
      - eventId
      - eventName
      - eventType
      - eventDate
      - finishTime
  AssessmentConfigResponse:
    type: object
    properties:
      assessmentConfiguration:
        type: array
        items:
          properties:
            assessmentId:
              type: string
              description: Assessment Id.
            assessmentType:
              type: string
              description: 'Type of the assessment i.e. Improve your health, Reduce stress.'
            assessmentDesc:
              type: string
              description: Assessment details.
            renewalDate:
              type: string
              format: YYYY-MM-DD
              description: Renewal date for assessment .
            attributes:
              type: array
              items:
                properties:
                  attributeId:
                    type: string
                    description: >-
                      The health attribute which is being affected for the goal
                      .
                  attributeType:
                    type: string
                    description: Attribute type e.g. MentalWellbeingStressor etc.
                  attributeValue:
                    type: integer
                    format: int64
                    description: The value of the attribute provided in the assessment.
                  assessmentSourceType:
                    type: string
                    description: >-
                      Whether the assessment is online(Untrusted) or done at
                      partner site(Trusted)
  AssessmentFeedbackResponse:
    type: object
    properties:
      actualAge:
        type: integer
        format: int64
        description: Actual age of the member
      vitalityAge:
        type: object
        properties:
          age:
            type: integer
            format: int64
            description: Actual age of the member
          ageBreakup:
            type: array
            items:
              properties:
                ageValue:
                  type: integer
                  format: int64
                  description: Years differnce due to assessment
                ageReason:
                  type: string
                  description: Reason for differnce due to assessment
            description: What is the difference between Vitality age and actual age.
      feedback:
        type: array
        items:
          properties:
            feedbackId:
              type: string
            feedbackDesc:
              type: string
      feedbackIndicator:
        type: array
        items:
          properties:
            feedbackId:
              type: string
            feedbackValue:
              type: string
            feedbackTarget:
              type: string
            feedbackUnitOfMeasure:
              type: string
            feedbackRangeIndicator:
              type: string
              enum:
                - 'true'
                - 'false'
      assessmentData:
        properties:
          assessmentId:
            type: integer
            format: int64
            description: Assessment Id.
          assessmentType:
            type: string
            description: Types of the assessment
          assessmentDesc:
            type: string
            description: Assessment description.
          completionDate:
            type: string
            format: YYYY-MM-DD
            description: Date for which assessment has been completed.
          attributes:
            type: array
            items:
              properties:
                attributeId:
                  type: string
                  description: Attribute id e.g. RiskSmokingTargetRelativeRisk .
                attributeType:
                  type: string
                  description: Types of attribue e.g. MentalWellbeingPshychological.
                attributeValue:
                  type: string
                  description: The attribute value which has been used in VHR or VHC
          assessmentDate:
            type: string
            format: YYYY-MM-DD
            description: Date on which assessment has been taken.
          assessmentSourceType:
            type: string
            description: >-
              Whether the assessment has been taken from trusted or untrusted
              site
          effectiveFromDate:
            type: string
            format: YYYY-MM-DD
            description: Starting date of assessment.
          effectiveToDate:
            type: string
            format: YYYY-MM-DD
            description: End date of assessment.
      riskFactor:
        type: string
        description: Specifies various risk factors for the member.
        enum:
          - Cholesterol
          - BMI
          - Physical_Activity
          - Diabetes
          - Fasting_Blood_Glucose
          - Blood_Pressure_Combined
  CommunityChallengesInviteRequest:
    type: object
    properties:
      friendId:
        type: string
        description: >-
          Friend Id of the friend member to whom member has invited for
          challenge
      membershipNo:
        type: string
        description: 'Vitality membership number, if available, of the friend.'
      challengeId:
        type: string
        description: Unique identifier of the challenge.
      challengeName:
        type: string
        description: Challenge Name.
      challengeType:
        type: string
        description: >-
          Different types of challenges available e.g. Run or walk 10 km , run
          or walk 5 km. , etc.
      challengeStatusFromDate:
        type: string
        format: YYYY-MM-DD
        description: 'Challenge status(selected , rejected , quit) from date value.'
    required:
      - friendId
      - challengeName
      - challengeStatusFromDate
  CommunityChallengesInviteResponse:
    type: object
    properties:
      communityChallengeInvite:
        type: array
        items:
          properties:
            challengeId:
              type: string
              description: Identifier of the goal
            challengeName:
              type: string
              description: Name of the goal/ challenge
            challengeType:
              type: string
              description: Types of challenges
              enum:
                - Community
            inviteId:
              type: string
              description: Types of challenges
  CommunityChallengesResponse:
    type: object
    properties:
      communityChallenges:
        type: array
        items:
          properties:
            challengeId:
              type: string
              description: Identifier of the goal
            challengeName:
              type: string
              description: Name of the goal/ challenge
            challengeType:
              type: string
              description: Types of challenges
              enum:
                - Community
  CommunityChallengesMemberResponse:
    type: object
    properties:
      memberChallenges:
        type: array
        items:
          properties:
            challengeId:
              type: string
              description: Identifier of the goal
            challengeName:
              type: string
              description: Name of the goal/ challenge
            challengeType:
              type: string
              description: Types of challenges
              enum:
                - Weekly
                - Group
                - Member Challenge
                - Community
            metric:
              type: string
              description: Unit of measurement
            riskCategory:
              type: string
              description: Assessment  categories e.g. improve your health.
            riskFactor:
              type: string
              enum:
                - Cholesterol
                - BMI
                - Physical_Activity
                - Diabetes
                - Fasting_Blood_Glucose
                - Blood_Pressure_Combined
            challengeEffectiveFrom:
              type: string
              format: YYYY-MM-DD
              description: Start date of the challenge to be accepted by the member
            challengeEffectiveTo:
              type: string
              format: YYYY-MM-DD
              description: End date of the challenge to be completed by the member
            eventId:
              type: string
            awardType:
              type: string
              description: Gives you points earned by the member.
            awardDesc:
              type: string
              description: Points earned by completing which assessment.
            challengeStatus:
              type: string
              description: Status in which current goal is
              enum:
                - Selected
                - Achieved
                - Completed
            challengeStatusFromDate:
              type: string
              format: YYYY-MM-DD
              description: start date for the challenge status
            challengeStatusToDate:
              type: string
              format: YYYY-MM-DD
              description: End date for the challenge status
            recommendation:
              type: object
              properties:
                feedback:
                  type: object
                  properties:
                    feedbackId:
                      type: string
                      description: The identifier of the feedback why the goal is assigned.
                    feedbackDesc:
                      type: string
                      description: Description of the feedback.
                recommendationReason:
                  type: string
                  description: Why the goal has been recommended for the member.
            progessDetails:
              type: object
              properties:
                challengeStartDate:
                  type: string
                  format: YYYY-MM-DD
                  description: >-
                    The date on which the member has actually started the
                    challenge.
                attributes:
                  type: array
                  items:
                    properties:
                      attributeId:
                        type: string
                        description: >-
                          The health attribute which is being affected for the
                          goal.
                      attributeType:
                        type: string
                      attributeValue:
                        type: integer
                        format: int64
[...]
