openapi: 3.0.0
info:
  title: Vitality Core
  description: |

    This API provides access to core Vitality functionality
    ## Resources
     
    <table class="table table-striped table-bordered table-hover table-condensed">
     <thead>
      <tr>
        <th style="background-color: red;color:white">Resource</th>
        <th style="background-color: red;color:white">Description</th>
      </tr>
    </thead> <tbody> <tr> <td>Assessments</td> <td> <ul> <li>Submission of assessments <ul> <li>online: general/mentalwellbeing/nutrition/fitness'</li> <li>offline: screenings</li> </ul> </li> <li>Retrieval of assessment feedback</li> <li>Retrieval of assessment metadata, e.g effective period, type</li> </ul> </td> </tr> <tr> <td>Challenges</td> <td> <ul> <li>Management of challenges (Group and Community)</li> <li>Retrieval of challenge history</li> <li>Retireval of weekly challenges</li> <li>Assessment-triggered challenges</li> <li>Workout tracker</li> </ul> </td> </tr> <tr> <td>Devices</td> <td> <ul> <li>Retrieval of device activities</li> <li>Linking and delinking of devices for a member</li> </ul> </td> </tr> <tr> <td>Fitness Events</td> <td><ul><li>Participation on fitness events</li></ul></td> </tr> <tr> <td>Friends</td> <td> <ul> <li>Friend search</li> <li>Management of friend invitations (accept, reject, send)</li> <li>Management of friend groups</li> </ul> </td> </tr> <tr> <td>Memberships</td> <td> <ul> <li>Retrieval of membership details including demographics and financial details</li> <li>Retrieval of system-defined membership status thresholds</li> <li>Retireval of supported device list for a market</li> </ul> </td> </tr> <tr> <td>Notifications</td> <td><ul><li>Retrieval of member notifications</li></ul></td> </tr> <tr> <td>Partners</td> <td><ul><li>Retrieval of details on reward partners</li></ul></td> </tr> <tr> <td>Points</td> <td><ul><li>Retrieval of point information for a member including history and summary</li></ul></td> </tr> <tr> <td>Rewards</td> <td><ul><li>Reward Redemption</li></ul></td> </tr> </tbody> </table>
      
    ## Membership Identification
      * Operations which return member-specific data require the Vitality membership number to be specified in the "membership-no" input paramter 
      
      * Certain operations also support Vitliaty Active (VA) members and for those cases the VA membership number is epxected to be specified in the member-id input parameter

    ## More Information on Vitality 
    Please refer to this [link](https://www.aia.com/en/about-aia/aia-vitality.html) for more details about Vitality 
  contact: {}
  version: v6.91
servers:
  - url: 'https://vitality.aia.com/vitality/core/v1'
    variables: {}
paths:
  /assessments/configuration:
    get:
      tags:
        - Assessments
      summary: assessmentConfiguration
      description: Provides a list of all available assessments for members within a business entity
      operationId: AssessmentConfiguration
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/AssessmentConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /assessments/details:
    get:
      tags:
        - Assessments
      summary: memberAssessments
      description: Provides all member assessments - online (general/mentalwellbeing/nutrition/fitness) and offline assessments (screenings) based on membership number
      operationId: MemberAssessments
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/MemberAssessmentResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /assessments/feedback:
    get:
      tags:
        - Assessments
      summary: generalAssessmentGet
      description: 'Provides feedback for member assessments, based on membership number'
      operationId: GeneralAssessmentGet
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: assessment-type
          in: query
          description: Vitality assessment type for specific selection
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/AssessmentType'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/AssessmentFeedbackResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /assessments/fitness:
    post:
      tags:
        - Assessments
      summary: fitnessAssessmentPost
      description: 'Enables online fitness assessment submission by member, based on membership number'
      operationId: FitnessAssessmentPost
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: role
          in: query
          description: Vitality role of the member
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: VHR general assessment object data.
        content:
          application/json:
            schema:
              description: VHR general assessment object data.
              $ref: '#/components/schemas/FitnessAssessmentRequest'
            examples:
              FitnessAssessmentRequest:
                desciption: Sample example for FitnessAssessmentRequest
                $ref: '#/components/examples/FitnessAssessmentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/AssessmentFeedbackResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /assessments/general:
    post:
      tags:
        - Assessments
      summary: generalAssessmentPost
      description: 'Enables online Vitality health review / general assessment submission by member, based on membership number'
      operationId: GeneralAssessmentPost
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: role
          in: query
          description: Vitality role of the member
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: VHR general assessment object data.
        content:
          application/json:
            schema:
              description: VHR general assessment object data.
              $ref: '#/components/schemas/VHRGeneralAssessmentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/AssessmentFeedbackResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /assessments/mental:
    post:
      tags:
        - Assessments
      summary: mentalAssessmentPost
      description: 'Enables online mental assessment submission by member, based on membership number'
      operationId: MentalAssessmentPost
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: role
          in: query
          description: Vitality role of the member
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: VHR general assessment object data.
        content:
          application/json:
            schema:
              description: VHR general assessment object data.
              $ref: '#/components/schemas/MentalAssessmentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/AssessmentFeedbackResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /assessments/nutrition:
    post:
      tags:
        - Assessments
      summary: nutritionAssessmentPost
      description: 'Enables online nutrition assessment submission by member, based on membership number'
      operationId: NutritionAssessmentPost
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: role
          in: query
          description: Vitality role of the member
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: VHR general assessment object data.
        content:
          application/json:
            schema:
              description: VHR general assessment object data.
              $ref: '#/components/schemas/NutritionAssessmentRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/AssessmentFeedbackResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /assessments/screenings:
    post:
      tags:
        - Assessments
      summary: screenings
      description: Enables members to upload their screening assessment details for processing
      operationId: Screenings
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Screening assessment object data.
        content:
          application/json:
            schema:
              description: Screening assessment object data.
              $ref: '#/components/schemas/ScreeningAssessmentRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /assessments/declaration:
    post:
      tags:
        - Assessments
      summary: declaration
      description: Enables members to send declaration for processing
      operationId: Declaration
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
      requestBody:
        description: Declaration object data.
        content:
          application/json:
            schema:
              description: Declaration object data.
              $ref: '#/components/schemas/DeclarationRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/community:
    get:
      tags:
        - Challenges
      summary: communityChallengesOpen
      description: Provides a list of all commnunity challenge available for a business entity
      operationId: CommunityChallengesOpen
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/CommunityChallengesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Challenges
      summary: communityChallengesAcceptPost
      description: 'Enables a member to challenge a friend within community, based on friend id'
      operationId: CommunityChallengesAcceptPost
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: challenge-id
          in: query
          description: Challenge id for a member challenge.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: action
          in: query
          description: Action for the community challenge.
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/Action'
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/community/progress:
    post:
      tags:
        - Challenges
      summary: communityChallengesProgress
      description: Provides a list of all commnunity challenge available for a business entity
      operationId: CommunityChallengesProgress
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: challenge-id
          in: query
          description: Challenge id for a member challenge.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: action
          in: query
          description: Action for the community challenge.
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/Action315'
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/community/member:
    get:
      tags:
        - Challenges
      summary: communityChallenges
      description: Provides community challenge details for a member i.e. challenges sent to the member by any of the friends (not part of weekly or group)
      operationId: CommunityChallenges
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/CommunityChallengesMemberResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/community/invite:
    get:
      tags:
        - Challenges
      summary: communityChallengesInvite
      description: Provides a list of all invitations for a member based on membership number
      operationId: CommunityChallengesInvite
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/CommunityChallengesInviteResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Challenges
      summary: communityChallengesInvitePost
      description: 'Enables a member to challenge a friend within community, based on friend id'
      operationId: CommunityChallengesInvitePost
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Request data for community challenge invite.
        content:
          application/json:
            schema:
              description: Request data for community challenge invite.
              $ref: '#/components/schemas/CommunityChallengesInviteRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/challenges/community/invite/{invite-id}':
    post:
      tags:
        - Challenges
      summary: communityChallengesAccept
      description: 'Enables a member to challenge a friend within community, based on friend id'
      operationId: CommunityChallengesAccept
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: invite-id
          in: path
          description: Key to identify an invitation.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: challenge-id
          in: query
          description: Challenge id for a member challenge.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Challenges
      summary: communityChallengesDecline
      description: 'Enables a member to challenge a friend within community, based on friend id'
      operationId: CommunityChallengesDecline
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: invite-id
          in: path
          description: Key to identify an invitation.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: challenge-id
          in: query
          description: Challenge id for a member challenge.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/group:
    get:
      tags:
        - Challenges
      summary: memberGroupChallenges
      description: 'Provides group challenges, based on either member id or membership number'
      operationId: MemberGroupChallenges
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: member-id
          in: query
          description: Member id for non membership accounts
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/MemberChallengeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/history:
    get:
      tags:
        - Challenges
      summary: ChallengesHistory
      description: 'Provides history for all member challenges, namely - risk, weekly, group and community,for given year(s) in past, based on either membership id or membership number'
      operationId: ChallengesHistory
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: number-of-years
          in: query
          description: Number of years in the past user wants to see the challenges detail
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/MemberChallengeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/risk:
    get:
      tags:
        - Challenges
      summary: memberChallenges
      description: 'Provides challenges triggered through assessments, based on membership number'
      operationId: MemberChallenges
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/MemberChallengeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    post:
      tags:
        - Challenges
      summary: riskChallengesAcceptPost
      description: 'Enables a member to accept or quit a challenge, based on membership number'
      operationId: RiskChallengesAcceptPost
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: challenge-id
          in: query
          description: Challenge id for a member risk challenge.
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: action
          in: query
          description: Action for the risk challenge.
          required: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/Action'
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/weekly:
    get:
      tags:
        - Challenges
      summary: memberWeeklyChallenges
      description: 'Provides weekly challenges, based on either member id or membership number'
      operationId: MemberWeeklyChallenges
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: member-id
          in: query
          description: Member id for non membership accounts
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/MemberChallengeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /challenges/workout-tracker:
    get:
      tags:
        - Challenges
      summary: workoutTracker
      description: 'Provides a list of workouts of the member, based on memebership number'
      operationId: WorkoutTracker
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: device-name
          in: query
          description: Device name used by the user to record activity details.
          style: form
          explode: true
          schema:
            type: string
        - name: startDate
          in: query
          description: Enable user to look up starting from this date.
          style: form
          explode: true
          schema:
            type: string
        - name: endDate
          in: query
          description: Enable user to look up ending by this date.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/WorkoutTrackerResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /devices:
    get:
      tags:
        - Devices
      summary: devicesList
      description: Provides list of physical activity tracking devices available for members in a business entity
      operationId: DevicesList
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/DevicesListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/devices/{device-name}/activities':
    get:
      tags:
        - Devices
      summary: deviceDetails
      description: Provides activity details for all devices based on a membership number
      operationId: DeviceDetails
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: month
          in: query
          description: 'Month in which user has performed the activity. Valid values: 1 - 12'
          required: true
          style: form
          explode: true
          schema:
            type: string
        - name: device-name
          in: path
          description: Device name used by the user to record activity details.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/DeviceDetailsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/devices/{device-name}/link':
    post:
      tags:
        - Devices
      summary: deviceLink
      description: Enables a member to link a device to their membership for tracking physical activities
      operationId: DeviceLink
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: device-name
          in: path
          description: Device to be linked.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: email
          in: query
          description: Registered email of account linking.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/DeviceLinkResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
    delete:
      tags:
        - Devices
      summary: deviceDelink
      description: Enables a member to delink a device from their membership account
      operationId: DeviceDelink
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: device-name
          in: path
          description: Device to be delinked.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
        - name: email
          in: query
          description: Registered email of account delinking.
          style: form
          explode: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: OK
                $ref: '#/components/schemas/DeviceDelinkResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  '/devices/{device-name}/link/token':
    post:
      tags:
        - Devices
      summary: deviceLinkToken
      description: Enables a member to link a device to their membership for tracking physical activities
      operationId: DeviceLinkToken
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: device-name
          in: path
          description: Device to be linked.
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Garmin tokens and userId of a specific member.
        content:
          application/json:
            schema:
              description: Garmin tokens and userId of a specific member.
              $ref: '#/components/schemas/LinkGarminTokenRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
            <table class="table table-striped table-bordered"> <thead> <tr> <th>ReasonCode</th> <th>Reason</th> <th>Message</th> </tr> </thead> <tbody> <tr> <td>502</td> <td>Bad Gateway</td> <td>Service is down or being upgraded</td> </tr> <tr> <td>503</td> <td>Service Unavailable</td> <td>Service is up, but overloaded with requests</td> </tr> <tr> <td>504</td> <td>Gateway Timeout</td> <td>Servers are up, but the request   couldn’t be serviced due to some failure within our stack</td> </tr> </tbody> </table>
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
      x-operation-settings:
        CollectParameters: false
        AllowDynamicQueryParameters: false
        AllowDynamicFormParameters: false
        IsMultiContentStreaming: false
  /fitness-events:
    post:
      tags:
        - Fitness Events
      summary: fitnessEventDetails
      description: Enables members to send their participation information on fitness events to Vitality system
      operationId: FitnessEventDetails
      parameters:
        - name: Authorization
          in: header
          description: 'An access token issued by an AIA Authorization server. This will have the format Bearer + {space} + {accessToken}. Example: Bearer KGNsaWVudF9pZDpjbGllbnRfc2VjcmV0KQ=='
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-AIA-Request-Id
          in: header
          description: A unique id generated for each request for tracking purposes
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: X-Vitality-Legal-Entity-Id
          in: header
          description: Attribute used to identify local market
          required: true
          style: simple
          explode: false
          schema:
            type: string
        - name: membership-no
          in: query
          description: Vitality membership number
          style: form
          explode: true
          schema:
            type: string
      requestBody:
        description: Activities object to post the the data.
        content:
          application/json:
            schema:
              description: Activities object to post the the data.
              $ref: '#/components/schemas/ActivitiesRequest'
        required: true
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '405':
          description: Method Not Allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '406':
          description: Not Acceptable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exception'
        '500':
          description: |-
            Internal Server Error
[...]
